/proyectoIntegradorAccionesPersonal/nbproject/private/
/proyectoIntegradorAccionesPersonal/build/
/wsAccionesPersonal/nbproject/private/
/proyectoIntegradorAccionesPersonal/dist/
/proyectoIntegradorAccionesPersonal.AD/nbproject/private/
/proyectoIntegradorAccionesPersonal.COMUN/nbproject/private/
/proyectoIntegradorAccionesPersonal.IU/nbproject/private/