.app-vinculacion1,
.app-vinculacion2,
.app-vinculacion3,
.app-vinculacion4,
.app-vinculacion5,
.app-vinculacion6 {
    width: 195px;
    height: 195px;

    position: relative;
    min-height: 195px;

    padding: 10px;

    color: #fefefe;
    background-color: #00417f;
}

.app-vinculacion1:hover {
    background-color: #422c66;
}

.app-vinculacion2:hover {
    background-color: #503466;
}

.app-vinculacion3:hover {
    background-color: #6a5784;
}

.app-vinculacion4:hover {
    background-color: #523482;
}

.app-vinculacion5:hover {
    background-color: #666699;
}

.app-vinculacion6:hover {
    background-color: #67488b;
}


@media screen and (max-width:1280px) { 
    .app-vinculacion1,
    .app-vinculacion2,
    .app-vinculacion3,
    .app-vinculacion4,
    .app-vinculacion5,
    .app-vinculacion6 {
        width: 182px;
        height: 182px;

        position: relative;
        min-height: 182px;
        padding: 9px;
    }
}

@media screen and (max-width:990px) { 
    .app-vinculacion1,
    .app-vinculacion2,
    .app-vinculacion3,
    .app-vinculacion4,
    .app-vinculacion5,
    .app-vinculacion6 {
        width: 134px;
        height: 134px;

        position: relative;
        min-height: 134px;
        padding: 8px;
    }
}

@media screen and (max-width:800px) { 
    .app-vinculacion1,
    .app-vinculacion2,
    .app-vinculacion3,
    .app-vinculacion4,
    .app-vinculacion5,
    .app-vinculacion6 {
        width: 102px;
        height: 102px;
        
        position: relative;
        min-height: 102px;
        padding: 7px;
    }

}

@media screen and (max-width:680px) { 
    .app-vinculacion1,
    .app-vinculacion2,
    .app-vinculacion3,
    .app-vinculacion4,
    .app-vinculacion5,
    .app-vinculacion6 {
        width: 82px;
        height: 82px;
        
        position: relative;
        min-height: 82px;
        padding: 6px;
    }
}

@media screen and (max-width:460px) { 
    .app-vinculacion1,
    .app-vinculacion2,
    .app-vinculacion3,
    .app-vinculacion4,
    .app-vinculacion5,
    .app-vinculacion6 {
        width: 44px;
        height: 44px;
        
        position: relative;
        min-height: 44px;
        padding: 6px;
    }
}