.app-gestion1,
.app-gestion2,
.app-gestion3,
.app-gestion4,
.app-gestion5,
.app-gestion6 {
    width: 195px;
    height: 195px;

    position: relative;
    min-height: 195px;

    padding: 10px;

    color: #fefefe;
    background-color: #00417f;
}

.app-gestion1:hover {
    background-color: #669933;
}

.app-gestion2:hover {
    background-color: #358431;
}

.app-gestion3:hover {
    background-color: #217346;
}

.app-gestion4:hover {
    background-color: #31752f;
}

.app-gestion5:hover {
    background-color: #458e3f;
}

.app-gestion6:hover {
    background-color: #009933;
}


@media screen and (max-width:1280px) { 
    .app-gestion1,
    .app-gestion2,
    .app-gestion3,
    .app-gestion4,
    .app-gestion5,
    .app-gestion6 {
        width: 182px;
        height: 182px;

        position: relative;
        min-height: 182px;
        padding: 9px;
    }
}

@media screen and (max-width:990px) { 
    .app-gestion1,
    .app-gestion2,
    .app-gestion3,
    .app-gestion4,
    .app-gestion5,
    .app-gestion6 {
        width: 134px;
        height: 134px;

        position: relative;
        min-height: 134px;
        padding: 8px;
    }
}

@media screen and (max-width:800px) { 
    .app-gestion1,
    .app-gestion2,
    .app-gestion3,
    .app-gestion4,
    .app-gestion5,
    .app-gestion6 {
        width: 102px;
        height: 102px;
        
        position: relative;
        min-height: 102px;
        padding: 7px;
    }

}

@media screen and (max-width:680px) { 
    .app-gestion1,
    .app-gestion2,
    .app-gestion3,
    .app-gestion4,
    .app-gestion5,
    .app-gestion6 {
        width: 82px;
        height: 82px;
        
        position: relative;
        min-height: 82px;
        padding: 6px;
    }
}

@media screen and (max-width:460px) { 
    .app-gestion1,
    .app-gestion2,
    .app-gestion3,
    .app-gestion4,
    .app-gestion5,
    .app-gestion6 {
        width: 44px;
        height: 44px;
        
        position: relative;
        min-height: 44px;
        padding: 6px;
    }
}