.dda-tipo-dedicacion {
    border-radius: 0.5rem;
    min-width: 1rem;
    min-height: 1rem;
    float: left;
    text-align: center;
    color: white;
    font-size: 0.7rem;
    line-height: 0.7rem;
    
    padding-top: 0.12rem;
    
    background-color: #ffffff !important;
}

.dda-tipo-dedicacion.docencia {
    background-color: #1d8ead !important;
}

.dda-tipo-dedicacion.investigacion {
    background-color: #8a2f33 !important;
}

.dda-tipo-dedicacion.vinculacion {
    background-color: #6a5784 !important;
}

.dda-tipo-dedicacion.gestion {
    background-color: #669933 !important;
}

.dda-total-dedicacion {
    padding-top: 0px !important; 
}

.dda-total-dedicacion .dda-tipo-dedicacion {
    margin-top: 0.2rem !important; 
    
    border-radius: 0.8rem;
    min-width: 1.6rem;
    min-height: 1.6rem;
    float: left;
    text-align: center;
    color: white;
    font-size: 1rem;
    line-height: 1.2rem;
}

.dda-total-dedicacion span{
    margin-left: 0.4rem;
}

.calendarioHorarioTexto {
    margin: auto;
}