.app-investigacion1,
.app-investigacion2,
.app-investigacion3,
.app-investigacion4,
.app-investigacion5,
.app-investigacion6 {
    width: 195px;
    height: 195px;

    position: relative;
    min-height: 195px;

    padding: 10px;

    color: #fefefe;
    background-color: #00417f;
}

.app-investigacion1:hover {
    background-color: #890e1d;
}

.app-investigacion2:hover {
    background-color: #660003;
}

.app-investigacion3:hover {
    background-color: #6b131e;
}

.app-investigacion4:hover {
    background-color: #8a2f33;
}

.app-investigacion5:hover {
    background-color: #540107;
}

.app-investigacion6:hover {
    background-color: #720e15;
}


@media screen and (max-width:1280px) { 
    .app-investigacion1,
    .app-investigacion2,
    .app-investigacion3,
    .app-investigacion4,
    .app-investigacion5,
    .app-investigacion6 {
        width: 182px;
        height: 182px;

        position: relative;
        min-height: 182px;
        padding: 9px;
    }
}

@media screen and (max-width:990px) { 
    .app-investigacion1,
    .app-investigacion2,
    .app-investigacion3,
    .app-investigacion4,
    .app-investigacion5,
    .app-investigacion6 {
        width: 134px;
        height: 134px;

        position: relative;
        min-height: 134px;
        padding: 8px;
    }
}

@media screen and (max-width:800px) { 
    .app-investigacion1,
    .app-investigacion2,
    .app-investigacion3,
    .app-investigacion4,
    .app-investigacion5,
    .app-investigacion6 {
        width: 102px;
        height: 102px;
        
        position: relative;
        min-height: 102px;
        padding: 7px;
    }

}

@media screen and (max-width:680px) { 
    .app-investigacion1,
    .app-investigacion2,
    .app-investigacion3,
    .app-investigacion4,
    .app-investigacion5,
    .app-investigacion6 {
        width: 82px;
        height: 82px;
        
        position: relative;
        min-height: 82px;
        padding: 6px;
    }
}

@media screen and (max-width:460px) { 
    .app-investigacion1,
    .app-investigacion2,
    .app-investigacion3,
    .app-investigacion4,
    .app-investigacion5,
    .app-investigacion6 {
        width: 44px;
        height: 44px;
        
        position: relative;
        min-height: 44px;
        padding: 6px;
    }
}