/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/12/2017, 21:02:15
    Author     : alexa
*/

._img_ministerio{
    width:250px;
    height:150px;
}

._img_espoch{
    width:120px;
    height:111px;
}

._parrafo_espoch{
    font-size: 0.8em;
    text-align: center;
}

._div_med{
    display:block;
    text-align:center;
}

._div_adp{
    text-align: center;  
}
._adp{
    font-size: 1.7em;
}

._numero{
    font-size: 1.5em;
}

._fecha{
    font-size: 1.3em;
    position: relative;
    margin-bottom: 12px;
}

._nombres{
    text-align: center;
}

._tipo_4{
    font-size: 0.9em;
}

._div_ca{
    font-size: 0.5em;
}

._div_bordes
{
    border: 1px black solid;
}

._div_bordes_med
{
    border: 1px black solid;
    border-left: 0px solid black;
    border-right: 0px solid black;
}

._div_bordes_inf{
    border: 1px black solid;
    border-top: 0px solid black;
}

._div_bordes_lat{
    border: 1px black solid;
    border-top: 0px solid black;
    border-bottom: 0px solid black;  
}

._div_bordes_lat_izq{
    border: 1px black solid;
    border-left: 0px solid black;
    border-top: 0px solid black;
    border-bottom: 0px solid black;  
}

._div_izq_aba_der{
    border: 1px black solid;
    border-left: 1px solid black;
    border-top: 0px solid black;
    border-bottom: 1px solid black;
    border-right:  1px solid black;
}

._div_borde_medio{
    border: 1px black solid;
    border-left: 0px solid black;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
    border-right:  1px solid black;  
}