.dda-nav-app {
    background-color: rgb(0,65,127);
    color: #ffffff;
    height: 29px;

    margin: 0rem 0rem 0.3rem 0rem !important;
}

.dda-nav-app .nav-item {
    padding-top: 2px;
}

.dda-nav-link-docencia,
.dda-nav-link-investigacion,
.dda-nav-link-vinculacion,
.dda-nav-link-gestion {
    border-radius: 0rem !important;

    color: rgb(254, 254, 254) !important;
    background-color: #00417f;

    margin: 0rem 1em !important;
    padding: 0rem 1em !important;

    line-height: 1.4rem;
}

.dda-nav-link-docencia.active,
.dda-nav-link-investigacion.active,
.dda-nav-link-vinculacion.active,
.dda-nav-link-gestion.active {
    text-transform: uppercase;

    font-size: 1rem;
    font-weight: bold !important;
    line-height: 1.4rem;

    color: #fefefe !important;
    background-color: #00417f !important;

    border-bottom-style: solid;
    border-bottom-width: 0px;     
}

.dda-nav-link-docencia.active .dda-app-group-selected,
.dda-nav-link-investigacion.active .dda-app-group-selected,
.dda-nav-link-vinculacion.active .dda-app-group-selected,
.dda-nav-link-gestion.active .dda-app-group-selected {
    display: block;

    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    position: relative;

    font-size: 0;
    left: 50%;

    width: 10px;
    height: 5px;
}

.dda-app-row {
    padding-right: 2rem;
}

.dda-app-group-selected {
    display: none;

    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    position: relative;

    font-size: 0;
    left:50%;

    width: 10px;
    height: 5px;
}

/******************************************************************************/

.aplicaciones {
    margin: 0px !important;
    padding: 0px 10px !important;   

    width: 100%;
    height: 26rem;
}

.aplicacion {
    padding-left: 3px;
    padding-right: 3px;
}

.aplicacion-btn {
    padding: 0;    
}

.aplicacionIcono i {
    margin-top: 2rem !important;

    font-size: 4.5rem !important;
}

.aplicacionNombre {
    position: absolute;
    bottom: 8px;
    right: 8px;
    left: 8px;
        
    min-height: 100%;
    height: 100%;
}

.aplicacionNombre p {
    position:absolute;
    bottom:0px;
    right:0px;

    font-size: 1rem;
    text-align: right;
    margin: 0px;

    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

/******************************************************************************/

.novedades {
    height: 12rem;
    background-color: #fefefe;
    overflow-y: auto;
    overflow-x: hidden;

    margin-left: -10px;
    margin-right: -10px;

    margin-top: 1rem;

    padding: 10px;
}

.novedades::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0);
    background-color: #F5F5F5;
}

.novedades::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.novedades::-webkit-scrollbar-thumb {
    background-color: #808080;
}

.carousel-control-prev,
.carousel-control-next {
    font-size: 2rem !important;
}

@media screen and (max-width:1280px) { 
    .aplicacionIcono i {
        margin-top: 1rem !important;

        font-size: 3.5rem !important;
    }

    .aplicacionNombre p {
        right:9px;
        font-size: 0.9rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        font-size: 1.5rem !important;
    }
    
    .dda-nav-app {
        height: 23px;
        margin: 0rem 0rem 0.3rem 0rem !important;
    }

    .dda-nav-link-docencia,
    .dda-nav-link-investigacion,
    .dda-nav-link-vinculacion,
    .dda-nav-link-gestion {
        border-radius: 0rem !important;

        color: rgb(254, 254, 254) !important;
        background-color: #00417f;

        margin: 0rem 1em !important;
        padding: 0rem 1em !important;

        font-size: 0.9rem;
        line-height: 1rem;
    }

    .dda-nav-link-docencia.active,
    .dda-nav-link-investigacion.active,
    .dda-nav-link-vinculacion.active,
    .dda-nav-link-gestion.active {
        text-transform: uppercase;

        font-size: 0.9rem;
        font-weight: bold !important;
        line-height: 1rem;

        color: #fefefe !important;
        background-color: #00417f !important;

        border-bottom-style: solid;
        border-bottom-width: 0px;     
    }
}

@media screen and (max-width:980px) { 
    .aplicacionIcono i {
        margin-top: 0rem !important;

        font-size: 2.5rem !important;
    }

    .aplicacionNombre p {
        right:8px;
        font-size: 0.8rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        font-size: 1.0rem !important;
    }
    
    .dda-nav-app {
        height: 22px;
        margin: 0rem 0rem 0.3rem 0rem !important;
    }

    .dda-nav-link-docencia,
    .dda-nav-link-investigacion,
    .dda-nav-link-vinculacion,
    .dda-nav-link-gestion {
        border-radius: 0rem !important;

        color: rgb(254, 254, 254) !important;
        background-color: #00417f;

        margin: 0rem 1em !important;
        padding: 0rem 1em !important;

        font-size: 0.8rem;
        line-height: 0.9rem;
    }

    .dda-nav-link-docencia.active,
    .dda-nav-link-investigacion.active,
    .dda-nav-link-vinculacion.active,
    .dda-nav-link-gestion.active {
        text-transform: uppercase;

        font-size: 0.8rem;
        font-weight: bold !important;
        line-height: 0.9rem;

        color: #fefefe !important;
        background-color: #00417f !important;

        border-bottom-style: solid;
        border-bottom-width: 0px;     
    }
}

@media screen and (max-width:800px) { 
    .aplicacionIcono i {
        margin-top: 0rem !important;

        font-size: 2rem !important;
    }

    .aplicacionNombre p {
        right:7px;
        font-size: 0.7rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        font-size: 0.7rem !important;
    }
    
    .dda-nav-app {
        height: 20px;
        margin: 0rem 0rem 0.3rem 0rem !important;
    }

    .dda-nav-link-docencia,
    .dda-nav-link-investigacion,
    .dda-nav-link-vinculacion,
    .dda-nav-link-gestion {
        border-radius: 0rem !important;

        color: rgb(254, 254, 254) !important;
        background-color: #00417f;

        margin: 0rem 1em !important;
        padding: 0rem 1em !important;

        font-size: 0.7rem;
        line-height: 0.8rem;
    }

    .dda-nav-link-docencia.active,
    .dda-nav-link-investigacion.active,
    .dda-nav-link-vinculacion.active,
    .dda-nav-link-gestion.active {
        text-transform: uppercase;

        font-size: 0.7rem;
        font-weight: bold !important;
        line-height: 0.8rem;

        color: #fefefe !important;
        background-color: #00417f !important;

        border-bottom-style: solid;
        border-bottom-width: 0px;     
    }
}

@media screen and (max-width:680px) { 
    .aplicacionIcono i {
        margin-top: 0rem !important;

        font-size: 0rem !important;
    }

    .aplicacionNombre p {
        right:6px;
        font-size: 0.6rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        font-size: 0.6rem !important;
    }
    
    .dda-nav-app {
        height: 19px;
        margin: 0rem 0rem 0.3rem 0rem !important;
    }

    .dda-nav-link-docencia,
    .dda-nav-link-investigacion,
    .dda-nav-link-vinculacion,
    .dda-nav-link-gestion {
        border-radius: 0rem !important;

        color: rgb(254, 254, 254) !important;
        background-color: #00417f;

        margin: 0rem 1em !important;
        padding: 0rem 1em !important;

        font-size: 0.6rem;
        line-height: 0.7rem;
    }

    .dda-nav-link-docencia.active,
    .dda-nav-link-investigacion.active,
    .dda-nav-link-vinculacion.active,
    .dda-nav-link-gestion.active {
        text-transform: uppercase;

        font-size: 0.6rem;
        font-weight: bold !important;
        line-height: 0.7rem;

        color: #fefefe !important;
        background-color: #00417f !important;

        border-bottom-style: solid;
        border-bottom-width: 0px;     
    }
}

@media screen and (max-width:460px) { 
    .aplicacionIcono i {
        margin-top: 0rem !important;
        font-size: 0rem !important;
    }

    .aplicacionNombre p {
        margin: 1px;
        right: 1px;
        font-size: 0.4rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
        font-size: 0.4rem !important;
    }

    .dda-nav-app {
        height: 15px;
        margin: 0rem 0rem 0.3rem 0rem !important;
    }

    .dda-nav-link-docencia,
    .dda-nav-link-investigacion,
    .dda-nav-link-vinculacion,
    .dda-nav-link-gestion {
        border-radius: 0rem !important;

        color: rgb(254, 254, 254) !important;
        background-color: #00417f;

        margin: 0rem 1em !important;
        padding: 0rem 1em !important;

        font-size: 0.4rem;
        line-height: 0.5rem;
    }

    .dda-nav-link-docencia.active,
    .dda-nav-link-investigacion.active,
    .dda-nav-link-vinculacion.active,
    .dda-nav-link-gestion.active {
        text-transform: uppercase;

        font-size: 0.4rem;
        font-weight: bold !important;
        line-height: 0.5rem;

        color: #fefefe !important;
        background-color: #00417f !important;

        border-bottom-style: solid;
        border-bottom-width: 0px;     
    }
}
